.secondary-nav {
  top: 0;
  left: 0;
  width: 100%;
  height: 52px;
  min-width: 1024px;
  display: flex;
  align-items: center;
  position: sticky;
  border-bottom: 1px solid rgba(0,0,0,0.16);
  background-color: rgba(255, 255, 255, 0.72);
  backdrop-filter: saturate(180%) blur(20px);
  transition: background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
  z-index: 1;
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  pointer-events: auto;
  letter-spacing: normal;

  .title {
    font-size: 21px;
    font-weight: bold;
  }

  &__menu {
    font-size: 12px;
    line-height: 1;
    font-weight: 400;
    letter-spacing: -.01em;
    display: flex;
    width: 230px;
    justify-content: space-between;
  }

  .navbar__items {
    color: #1d1d1f;
  }
}
